ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
ROPSTEN_PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1

OASIS_EMERALD_API_KEY=
OASIS_EMERALD_URL=https://emerald.oasis.dev
OASIS_EMERALD_PRIVATE_KEY=

OASIS_EMERALD_TESTNET_API_KEY=
OASIS_EMERALD_TESTNET_URL=https://emerald.oasis.dev
OASIS_EMERALD_TESTNET_PRIVATE_KEY=